{
    font-family:Arial, Helvetica, Sans-serif;
    font-size: 16px;

}

body{
    background-color: rgb(0, 146, 146);

}
main{
    background-color: darkorange;
    width: 5000px;
    margin: auto;
    padding:  10px;
    box-shadow:3px 4px 5px darkslategray;

}